<div class = "border-bottom row" style = "margin-bottom:16px; padding-bottom:8px;">
  <div class = "col-11">
    <h4 
      style = "color: rgb(120, 120, 120); margin-bottom:4px">
      <p class = "roboto-mono-fontstyle">{{position['title']}}</p>
    </h4>
    <div><b>
      <p class = "roboto-mono-style">Location:</b> {{position['location']}}</p>
    </div>     
  </div>
  <div class = "col-1">
    <button type="button" class="btn btn-outline-success"><p class = "roboto-mono-fontstyle">Join</p></button>
  </div>
</div>